<h1>{{name}}</h1>
<p>Your length of service is {{seniority}}.  You've been involved in {{numberOfGames}} battles, of which {{victoryPercentage}}% ended in your favor.</p>

<p>Your identifying colors are currently:</p>

{{view badge}}
